/* Your styles should be mobile-first and responsive */

/** 
  * If you are unclear on how to utilize a mobile-first, responsive technique to write your CSS, here is an example: 
  *
  * https://github.com/andreacardybailey/responsive_example/blob/master/styles/responsive-base.css 
  *
*/

/* TODO: MAKE THIS MOBILE FIRST */

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	color: black;
	text-align: center;
	background-color: #f0ecec;
}

.head {
	height: 50vh;
	background-color: blue;
	clip-path: polygon(0 0, 100% 0, 100% 75%, 0% 100%);
}

.result,
.top {
	background-color: blue;
	border-radius: 1rem;
}

.top {
	height: 30vh;
	margin-top: -3.1rem;
	padding-top: 3rem;
}

.result {
	width: 80vw;
	margin: 20vh auto 2rem auto;
	padding: 1rem 0 3rem;
}

.start-quiz {
	position: fixed;
	right: 30vw;
	top: 34%;
	z-index: 2;
}
h1 {
	padding: 2rem;
	font-size: 2.2rem;
	color: #f0ecec;
}

h2 {
	font-size: 1.8rem;
	color: #f0ecec;
}

h3 {
	font-size: 1.5rem;
	color: #f0ecec;
}

button,
.submit-button {
	font-size: 1.5rem;
	padding: 0.5rem 2rem;
	border-radius: 50px;
	background-color: rgb(25, 25, 184);
	color: white;
	cursor: pointer;
	box-shadow: 10px 12px 13px 0 rgba(0, 0, 0, 1);
}

button {
	margin: 3rem auto 3rem auto;
}

.submit-button {
	width: 15rem;
	margin: 0 auto;
}
.question,
.correct,
.incorrect {
	margin-top: 50px;
}

p {
	margin-top: 50px;
	font-size: 2rem;
}

.ques-number {
	padding-bottom: 5rem;
}

form {
	margin: auto;
	border: black 3px solid;
	display: flex;
	width: 80%;
	flex-direction: column;
	justify-content: flex-start;
	font-size: 30px;
	text-align: left;
	padding: 20px 20px 20px 20px;
}

input[class='ans-correct'] {
	border: 3px solid green;
	width: 5em;
}

/* *************************
			Radio Buttons
******************************/
/* Customize the label (the input-label) */
.input-label {
	display: block;
	position: relative;
	padding-left: 35px;
	margin-bottom: 0;
	cursor: pointer;
	font-size: 22px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

/* Hide the browser's default radio button */
.input-label input {
	position: absolute;
	opacity: 0;
	cursor: pointer;
	height: 0;
	width: 0;
}

/* Create a custom radio button */
.marked {
	position: absolute;
	top: 0;
	left: 0;
	height: 25px;
	width: 25px;
	background-color: #eee;
	border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.input-label:hover input ~ .marked {
	background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.input-label input:checked ~ .marked {
	background-color: #2196f3;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.marked:after {
	content: '';
	position: absolute;
	display: none;
}

/* Show the indicator (dot/circle) when checked */
.input-label input:checked ~ .marked:after {
	display: block;
}

/* Style the indicator (dot/circle) */
.input-label .marked:after {
	top: 9px;
	left: 9px;
	width: 8px;
	height: 8px;
	border-radius: 50%;
	background: white;
}

/* ********************************
          Media Query
**************************************/
@media (min-width: 700px) {
	body {
		font-size: 22px;
	}

	h1 {
		margin-block-start: 0.67em;
		margin-block-end: 0.67em;
	}
}

@media (min-width: 1024px) {
	body {
		font-size: 25px;
	}
}
