/* Your styles should be mobile-first and responsive */

/** 
  * If you are unclear on how to utilize a mobile-first, responsive technique to write your CSS, here is an example: 
  *
  * https://github.com/andreacardybailey/responsive_example/blob/master/styles/responsive-base.css 
  *
*/

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	color: black;
	text-align: center;
	background-color: #f0ecec;
}

.head {
  background-color: blue;
  clip-path: polygon(0 0, 100% 0, 100% 75%, 0% 100%);
  min-width: 360px;
	height: 40vh;
  text-align: center;
}

.head-button {
  min-width: 360px;
}

.result,
.top {
	background-color: blue;
  border-radius: 1rem;
  margin: auto;
  min-width: 360px;
}

.top {
  padding-top: 20px;
  padding-bottom: 30px;
}

.start-quiz {
  margin: -90rem auto 0;
  z-index: 2;
}
h1 {
  padding: 2rem;
  padding-bottom: 10px;
  color: #f0ecec;
  margin: 0;
}

h2 {
  color: #f0ecec;
  padding-bottom: 10px;
}

h3 {
	font-size: 1.5rem;
	color: #f0ecec;
}

button,
.submit-button {
	font-size: 20px;
	padding: 0.5rem 2rem;
	border-radius: 50px;
	background-color: rgb(25, 25, 184);
	color: white;
	cursor: pointer;
	box-shadow: 10px 12px 13px 0 rgba(0, 0, 0, 1);
}

button {
	margin: 3rem auto 3rem auto;
}

.submit-button {
	width: 15rem;
	margin: 0 auto;
}

p {
  font-size: 2rem;
  text-align: center;
  margin-bottom: 15px;
}

.correct-text {
  color: green;
}

.incorrect-text {
  color: red;
}

.question-answer{
  font-size: 22px;
}

.ques-number {
  margin-top: 10px;
  text-align: center;
}

form, .form-box {
  min-width: 360px;
  margin: auto;
  border-radius: 1rem;
	border: black 3px solid;
	display: flex;
  margin-top: 20px;
	flex-direction: column;
	justify-content: flex-start;
	text-align: left;
	padding: 20px 20px 30px 20px;
}

/* *************************
			Radio Buttons
******************************/
/* Customize the label (the input-label) */
.input-label {
	display: block;
	position: relative;
	padding-left: 35px;
	margin-bottom: 0;
	cursor: pointer;
	font-size: 22px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

/* Hide the browser's default radio button */
.input-label input {
	position: absolute;
	opacity: 0;
	cursor: pointer;
	height: 0;
	width: 0;
}

/* Create a custom radio button */
.marked {
	position: absolute;
	top: 0;
	left: 0;
	height: 25px;
	width: 25px;
	background-color: #eee;
	border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.input-label input ~ .marked {
	background-color: #ccc;
}

.input-label:hover input ~ .marked {
	background-color: gray;
}

/* When the radio button is checked, add a blue background */
.input-label input:checked ~ .marked {
	background-color: #2196f3;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.marked:after {
	content: '';
	position: absolute;
	display: none;
}

/* Show the indicator (dot/circle) when checked */
.input-label input:checked ~ .marked:after {
	display: block;
}

/* Style the indicator (dot/circle) */
.input-label .marked:after {
	top: 9px;
	left: 9px;
	width: 8px;
	height: 8px;
	border-radius: 50%;
	background: white;
}

/* ********************************
          Media Query
**************************************/
@media (min-width: 700px) {
	body {
		font-size: 22px;
	}
  .result,
  .top, form, .form-box {
    max-width: 700px;
  }
  .question,
  .correct,
  .incorrect {
    margin-top: 50px;
  }

  button {
    font-size: 22px;
  }
}

@media (min-width: 1024px) {
	body {
		font-size: 25px;
  }
  button {
    font-size: 25px;
  }
}
